body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9; /* Fundo quase branco */
    color: #000; /* Texto preto */
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff; /* Fundo branco para seções */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.projeto {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd; /* Bordas cinzas */
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333; /* Cinza escuro */
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgb(21, 80, 241);
    text-decoration: none;
}
/* a::after img a::before img das logos
 */
img{
    margin-top: 10px;
    width: 26px;
    height: 21px;

}
.principal{
    width: 240px;
    height: 230px;
}