@charset "UTF-8";


:root{
    --cor01: #E4C586;
    --cor02: #E3D83B;   
    --cor03: #E3C13B;
    --cor04: #E3AE3B;
    --cor05:#C7B666;

    --fontepadrao: arial, Verdana, Helvetica, sans-serif;
}
body{
    background-color: var(--cor01);
    margin: 0px;
}
header {
    background-image:linear-gradient(to bottom,#E3AE3B,#E4C586 ) ;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-family: var(--fontepadrao);
}
main > nav {
    margin: auto;
    background-image:linear-gradient(to top,#E3AE3B, #E4C586);
    padding: 15px;
    font-family: var(--fontepadrao);
}
main a {
    margin-right: 10px;
    text-decoration: none;
    color:black;
    
}

main a:hover{
    background-color: white;
    text-decoration: none;
}
main > ul > li {
    font-family: var(--fontepadrao);
    text-indent: 10px;

}
main .preparo {
    text-indent: 17px;
    font-family: var(--fontepadrao);
    margin: 10px;
    padding: 5px;
    line-height: 22px;
    text-align: justify;
}
main h1{
    font-weight: bolder;
    text-indent: 10px;
}
main h2{
   font-weight: bolder;
   text-indent: 10px;
}
main >  img {
    width: 900px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
footer {
   background-image:linear-gradient(to top,#E3AE3B,#E4C586);
    font-family: var(--fontepadrao);
    text-align: center;
    padding: 20px;
    color:black;
}