* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff3e0;
    color: #333;
    overflow-x: hidden; /* Impede a rolagem horizontal */
}

header {
    background-color: #ff9800;
    color: white;
    padding: 20px;
    text-align: center;
}

header > nav {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    padding-left: 20px; /* Ajusta a posição dos links */
}

header > nav > a {
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    padding: 10px;
}

header > nav > a:hover {
    text-decoration: underline;
}

#search {
    margin-top: 10px;
    padding: 10px;
    width: 80%;
    border: 1px solid #ff9800;
    border-radius: 5px;
}

section {
    padding: 20px;
    text-align: justify; /* Justifica o texto */
}

.cardapio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.item {
    background-color: #fff;
    border: 1px solid #ff9800;
    border-radius: 5px;
    margin: 10px 0;
    padding: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: justify; /* Justifica o texto dentro dos itens */
}

.item img {
    max-width: 100%;
    border-radius: 5px;
}

.preco {
    font-weight: bold;
    color: #ff9800;
}


footer {
    background-color: #ff9800;
    color: white;
    text-align: center;
    padding: 30px;
    position: relative;
    bottom: 0;
    width: 100%;
}

